@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --qara-renk: #222;
    --ag-renk: #fff;
}

body{
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    justify-content:space-between;
    padding:  42px 112.5px 16.7px ;
    align-items: center;
}

.header a {
    color: black;
    padding: 4px;
    
}

.fa-bars{
    display: none;
}


/* MEDIA QUERY */
@media(max-width:768px) {
    .header {
        padding-left: 60px;
        padding-right: 60px;
    }
.nav-links{
    display: none;
}
.fa-bars{
    display: block;
    font-size: 24px;
    cursor: pointer !important;
}
}

@media(max-width:576px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }

}


/* intoduction start */
 
.introduction{
    display: flex;
    justify-content: space-between;
    padding-left: 112.5px;
    padding-right: 112.5px;

}
.introduction a{
    padding-left: 20px;
}
.introduction button{
    width: 151px;
    height: 58px;
    background-color: var(--qara-renk);
    color: var(--ag-renk)
}
.introduction .intro-left-side h1 {
font-size: 4.5rem;
font-weight: 700;
}

.introduction .intro-left-side h1 span{
    color: #FF8A56;
}

.intro-left-side{
    padding-top: 117px;
}
.intro-left-side p{
    margin-top: 34px;
    margin-bottom: 24px;
}

.intro-right-side{
    padding-top: 70px;
}
.intro-right-side img{
    width: 100%;
}


@media(max-width:1180px) {
    .introduction {
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media(max-width:1080px) {
    .introduction {
        padding-left: 20px;
        padding-right: 20px;
    }
}
 @media(max-width:992px) {
    .introduction .intro-left-side h1 {
        font-size: 42px;

    }
 }
@media(max-width:768px) {
    .introduction {
        flex-direction: column;
        
    }
    .intro-left-side {
        padding-top: 80px;
    }
}
@media(max-width:320px){
    .introduction .intro-left-side h1 {
        text-align: center;
    }
}


/* /* introduction end  */

/* PARTNYOR SECTION SRAT */
.trusted-section {
    text-align: center
}

.trusted-section h6 {
    font-size: 18px;
}

.trusted-companies {
    display: flex;
    justify-content: space-around;
    padding-top: 45px;
}

/* Pseudo class */

/* :nth-child() :first-child :last-child */


@media(max-width:768px) {
    /* .trusted-company:nth-child(3) ,
    .trusted-company:nth-child(4){
        display: none; */
        .trusted-company:nth-child(odd){
            display: none;
        }
    }
  
@media(max-width:576px){
    .trusted-company:nth-child(2){
        display: none;
    }
}

/* odd(tek) even(cut) */
/* PARTNYOR SECTION END */ 
.services-section{
    padding-left: 171px;
    padding-right: 171px;
    padding-top: 76.27px;

}

.services-section h6,
.services-section h1{
    text-align: center;
}
.services-section h6{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FF5E69;
    font-size: 22px;
    font-weight: 700;
}
.services-section h1{
    font-size: 54px;
    font-weight: 700;
    padding: 20px;
}


.services-section ul{
    list-style-type: square;
    list-style-position: inside;
}

.service-cards-section {
    display: flex;
    padding-top: 117.95px;
    justify-content: space-between;
    flex-wrap: wrap;

}
.card {
    min-width: 252px;
    width: 252px;
    
}

.card h3{
    padding: 45px 0 ;
    font-size: 23px;
    height: 27px;
}
.card p{
    color: #666666;
}
.card ul{
    font-size: 16px;
    font-weight: 700;
    padding: 21px 0;
}
.card ul li{
padding: 10px 0;
}

@media(max-width:768px){
    .services-section{
        padding-left: 60px;
        padding-right: 60px;
    }    
}
@media(max-width:576px){
    .services-section{
        padding-left: 20px;
        padding-right: 20px;
    }
}